.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* My Styles */

.container {
    float: left;
    width: 30%;
    background: #e0e0e0;
}

li {
    text-align: left;
    list-style-type:  none;
    text-transform: capitalize;
    line-height:  1.5em;
    color: #423c3c;
}
